version: "3.9"
services:
  support-ticket-api:
    container_name: support-ticket-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: development
      GCP_PROJECT: attendance-8a192
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
